h1 { font-family:

  color: whte;
  font-weight: bold;
  font-stretch: ultra-expanded;
  font-size-adjust: auto;
}
body{background-color: green;

  color: black;
  font-family: effects eighty
;
  text-align:center;

}
